body {
	text-align: center;
	background-color: #8B99B3;
}

nav {
	border-bottom: 2px solid black;
	padding-bottom: 4px;
}

.gen ol {
	list-style-type: none;
	padding-left: 0 auto;
}

.geni {
	display: inline-block;
	color: #3C424D;
	font-size: 40;
}

#active {
	display: inline-block;
	font-weight: bold;
	color: #D9D9D9;
}

.geni a::after {
	display: inline-block;
	color: #3C424D;
	content: '/';
	font-size: 80%;
	font-weight: bold;
	padding: 0 3px;
}

a {
	color: #3C424D;
}