body {
	text-align: center;
	background-color: #C7CCFF;
}

nav {
	border-bottom: 2px solid black;
}

.gen ol {
	list-style-type: none;
	padding-left: 0 auto;
}

.geni {
	display: inline-block;
}

#active {
	display: inline-block;
	font-weight: bold;
}

.geni a::after {
	display: inline-block;
	color:#000;
	content: '/';
	font-size: 80%;
	font-weight: bold;
	padding: 0 3px;
}